@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.body {
    display: flex;
    flex-direction: column;
    margin: 4vw 4vw 4vw 4vw;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', Arial;
}

.mainimg {
    margin-left: 10vw;
}

.btn{
    background: #2f4962 !important;
    color: white !important;
    font-family: 'Rubik', sans-serif;
}

.btn-lg{
    background: #2f4962;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.h1 {
    color: #031927;
    font-family: 'Rubik', sans-serif;
}

a{
    color:#031927 !important; 
    font-size:20px;
    font-family: 'Rubik', sans-serif;
}

a:hover {
    color: #6DB8E5 !important;
}
.h2 {
    color: #031927;
    font-family: 'Rubik', sans-serif;
}

/* pets page */

.animalimg {
    display: block;
    max-width: 15vw;
    max-height: 10vw;
    margin-left: auto;
    margin-right: auto;
}

.petsinfo {
    color:#031927;
    font-size:18px;
    font-family: 'Rubik', sans-serif;
}

/* favorites page */
.favoritesimg {
    
    display: block;
    max-width: 15vw;
    max-height: 15vw;
    margin-left: auto;
    margin-right: auto;

.title {
    padding: 5vh 0;
}

.sketchy {
    padding: 0 5vw;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    margin-bottom: 5vh;
    font-family: 'Rubik', Arial;
}