@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.body {
    display: flex;
    flex-direction: column;
    margin: 10vw 10vw 10vw 10vw;
    justify-content: center;
    align-items: center;
}

.mainimg {
    margin-left: 10vw;
}

.btn{
    background: #2f4962 !important;
    color: white !important;
    font-family: 'Rubik', sans-serif;
}

.btn-lg{
    background: #2f4962;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.h1 {
    color: #031927;
    font-family: 'Rubik', sans-serif;
}

a{
    color:#031927 !important; 
    font-size:20px;
    font-family: 'Rubik', sans-serif;
}

a:hover {
    color: #6DB8E5 !important;
}
.h2 {
    color: #031927;
    font-family: 'Rubik', sans-serif;
}