@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.body {
    display: flex;
    flex-direction: column;
    margin: 4vw 4vw 4vw 4vw;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', Arial;
}

.mainimg {
    margin-left: 10vw;
}

.btn{
    background: #2f4962 !important;
    color: white !important;
    font-family: 'Rubik', sans-serif;
}

.btn-lg{
    background: #2f4962;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.h1 {
    color: #031927;
    font-family: 'Rubik', sans-serif;
}

a{
    color:#031927 !important; 
    font-size:20px;
    font-family: 'Rubik', sans-serif;
}

a:hover {
    color: #6DB8E5 !important;
}
.h2 {
    color: #031927;
    font-family: 'Rubik', sans-serif;
}

/* pets page */

.animalimg {
    display: block;
    max-width: 15vw;
    max-height: 10vw;
    margin-left: auto;
    margin-right: auto;
}

.petsinfo {
    color:#031927;
    font-size:18px;
    font-family: 'Rubik', sans-serif;
}

.favoritebtn {
    background: #2f4962;
    color: white !important;
    font-family: 'Rubik', sans-serif;
}

.scrollToTopBtn {
    
    position: fixed;
    bottom: 30px;
    right: 30px;
  
    z-index: 100;
  
    opacity: 0;
  
    transform: translateY(100px);
  
    transition: all .5s ease
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    background-color: #efc164;
    color: #2f4962;
    
  }

.title {
    padding: 5vh 0;
}

.sketchy {
    padding: 0 5vw;
    display: inline-block;
    border: 3px solid #333333;
    font-size: 2.5rem;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    margin-bottom: 5vh;
    font-family: 'Rubik', Arial;
}